Listing Ideas <br />

  <%= @ideas.count %><br />

  <% @ideas.each do |ideas| %>
       ID: <%= ideas.id%>  Title:<a href="<%=idea_path(ideas.id)%>"><%= ideas.title%></a>---Desc:<%= ideas.description%><br />
  <%end%>

